html{
  background-color: cornflowerblue;
}

@media only screen and (max-width: 598px) {
  html{background-color: white;}
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.styleDefult{
background-color: none;
}

.styleRed{
background-color: #f45252;
}
.styleGreen{
  background-color: #30ca37;
}
.styleBlue{
  background-color: cornflowerblue;
}